.footer {
  position: relative;
  background-color: var(--color-primary-dark);
  padding: 56px 0;
  background-image: url('../img/footer-background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &::after {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 248px;
    height: 152px;
    background-image: url('../img/medicine-decor.png');
    background-repeat: no-repeat;
    content: '';
  }

  &__container {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  &__logo {
    flex-grow: 1;
  }

  &__link {
    color: var(--color-secondary-white);
    font-size: 16px;
  }

  &__nav,
  &__address {
    display: flex;
    flex-direction: row;
    flex-basis: 50%;
    text-align: left;
    gap: 20px;
  }

  &__socials {
    display: flex;
    justify-content: flex-start;
    gap: 24px;
    margin-top: 16px;
  }

  &__icon {
    fill: var(--color-secondary-white);
  }

  &__icon:hover {
    fill: var(--color-primary-light);
  }

  &__menu {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 16px;
  }

  &__address-list,
  &__address-info {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__contacts {
    flex-grow: 1;
  }

  &__address-copyright {
    color: var(--color-secondary-gray-light);
    font-size: 13px;
  }
}
